<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bearbaba.orgprovider.mapper.StaffMapper">
  <resultMap id="BaseResultMap" type="com.bearbaba.orginterface.bean.Staff">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="telephone_number" jdbcType="BIGINT" property="telephoneNumber" />
    <result column="sex" jdbcType="BIT" property="sex" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="enterprise_id" jdbcType="BIGINT" property="enterpriseId" />
    <result column="freeze" jdbcType="BIT" property="freeze" />
    <result column="id_card" jdbcType="VARCHAR" property="idCard" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, telephone_number, sex, org_id, enterprise_id, freeze, id_card
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from org_staff
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from org_staff
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.bearbaba.orginterface.bean.Staff">
    insert into org_staff (id, name, telephone_number, 
      sex, org_id, enterprise_id, 
      freeze, id_card)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{telephoneNumber,jdbcType=BIGINT}, 
      #{sex,jdbcType=BIT}, #{orgId,jdbcType=BIGINT}, #{enterpriseId,jdbcType=BIGINT}, 
      #{freeze,jdbcType=BIT}, #{idCard,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bearbaba.orginterface.bean.Staff">
    insert into org_staff
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="telephoneNumber != null">
        telephone_number,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="orgId != null">
        org_id,
      </if>
      <if test="enterpriseId != null">
        enterprise_id,
      </if>
      <if test="freeze != null">
        freeze,
      </if>
      <if test="idCard != null">
        id_card,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="telephoneNumber != null">
        #{telephoneNumber,jdbcType=BIGINT},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=BIT},
      </if>
      <if test="orgId != null">
        #{orgId,jdbcType=BIGINT},
      </if>
      <if test="enterpriseId != null">
        #{enterpriseId,jdbcType=BIGINT},
      </if>
      <if test="freeze != null">
        #{freeze,jdbcType=BIT},
      </if>
      <if test="idCard != null">
        #{idCard,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bearbaba.orginterface.bean.Staff">
    update org_staff
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="telephoneNumber != null">
        telephone_number = #{telephoneNumber,jdbcType=BIGINT},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=BIT},
      </if>
      <if test="orgId != null">
        org_id = #{orgId,jdbcType=BIGINT},
      </if>
      <if test="enterpriseId != null">
        enterprise_id = #{enterpriseId,jdbcType=BIGINT},
      </if>
      <if test="freeze != null">
        freeze = #{freeze,jdbcType=BIT},
      </if>
      <if test="idCard != null">
        id_card = #{idCard,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bearbaba.orginterface.bean.Staff">
    update org_staff
    set name = #{name,jdbcType=VARCHAR},
      telephone_number = #{telephoneNumber,jdbcType=BIGINT},
      sex = #{sex,jdbcType=BIT},
      org_id = #{orgId,jdbcType=BIGINT},
      enterprise_id = #{enterpriseId,jdbcType=BIGINT},
      freeze = #{freeze,jdbcType=BIT},
      id_card = #{idCard,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>